<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.SelectItemMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="pojo.SelectItem">
        insert into select_item (question_id, flag, `desc`) values
        (#{questionId}, #{flag}, #{desc})
    </insert>

    <select id="findById" parameterType="int" resultType="pojo.SelectItem">
        select * from select_item where id=#{id}
    </select>

    <select id="findByQuestionId" parameterType="int" resultType="pojo.SelectItem">
        select * from select_item where question_id=#{id}
    </select>
</mapper>