<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.StudentMapper">
    <select id="findById" parameterType="int" resultType="pojo.Student">
        select * from student where id=#{id}
    </select>

    <select id="findByName" parameterType="String" resultType="pojo.Student">
        select * from student where name=#{name}
    </select>

    <select id="findByUsername" parameterType="String" resultType="pojo.Student">
        select * from student where username=#{username}
    </select>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="pojo.Student">
        insert into student (name, username, password, class_id) VALUES
        (#{name}, #{username}, #{password}, #{classId})
    </insert>
</mapper>